.navbar.default-layout .navbar-menu-wrapper {
  transition: width 0.25s ease;
  -webkit-transition: width 0.25s ease;
  -moz-transition: width 0.25s ease;
  -ms-transition: width 0.25s ease;
  color: #001737;
  padding-left: 15px;
  padding-right: 15px;
  width: calc(100% - 0px);
  height: 63px;
  box-shadow: 0 4px 16px 0 rgb(167 175 183 / 33%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar.default-layout .navbar-menu-wrapper .search-form {
  width: 35%;
  margin-right: 30px;
}

.navbar.default-layout .navbar-menu-wrapper .search-form .form-group {
  margin-bottom: 0;
}
.form-control {
  display: inline-block;
  border: 1px solid #dee2e6;
  font-family: "roboto", sans-serif;
  font-size: 0.75rem;
  color: #212529;
  padding: 0 .75rem;
  line-height: 14px;
  font-weight: 300;
}
.navbar.default-layout .navbar-menu-wrapper .navbar-toggler {
  border: 0;
  color: inherit;
}
.navbar.default-layout .navbar-menu-wrapper .navbar-nav {
  flex-direction: row;
  align-items: center;
}

.navbar.default-layout .navbar-menu-wrapper .navbar-nav .nav-item.user-dropdown {
  margin-left: 35px;
}
.navbar.default-layout .navbar-menu-wrapper .navbar-nav .nav-item .nav-link {
  color: inherit;
  font-size: 15px;
  vertical-align: middle;
}
.rounded-circle[class*='img'] {
  position: relative;
  overflow: hidden;
}
.img-xs {
  width: 32px;
  min-width: 32px;
  height: 32px;
}
.navbar.default-layout .navbar-menu-wrapper .navbar-nav .nav-item.user-dropdown .dropdown-toggle:after {
  position: relative;
  top: 50%;
}
.nav .nav-item.dropdown .dropdown-toggle:after, .navbar-nav .nav-item.dropdown .dropdown-toggle:after {
  border: none;
  content: "\F140";
  font-family: "Material Design Icons";
  font-size: 20px;
  color: grey;
  text-rendering: auto;
  line-height: inherit;
  vertical-align: 0;
}
.navbar.default-layout .navbar-menu-wrapper .navbar-nav .nav-item.user-dropdown .dropdown-menu {
  min-width: 250px;
  margin-top: 9px;
}
.nav .nav-item.dropdown .navbar-dropdown, .navbar-nav .nav-item.dropdown .navbar-dropdown {
  font-size: 0.9rem;
  margin-top: 15px;
  position: absolute;
  right: 0;
  left: auto;
  border: 1px solid rgba(182, 182, 182, 0.1);
  padding: 0 0 20px;
  min-width: 100%;
  border-radius: 2px;
  box-shadow: 0 5px 10px 0 rgb(0 0 0 / 13%);
  overflow-x: hidden;
  max-height: 350px;
  overflow-y: auto;
  overflow: hidden;
}


.main-body{
  position: absolute;
  width: 100%;
  padding-top: 80px;
}
.main-wrapper{
  position: relative;
}
.stretch-card{
  margin-top:80px
}

.py-1{
  img{
    width: 35px;
    min-width: 35px;
    height: 35px;
  }
}
.btn-dash{
  margin-left: 10px;
}
