<nav class="navbar default-layout col-lg-12 col-12 p-0 d-flex fixed-top flex-row">
  <div class="navbar-menu-wrapper ">
    <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
      <a class="navbar-brand brand-logo" [routerLink]="['/homepage']">
        <img src="https://dyltqmyl993wv.cloudfront.net/assets/stacks/parse-dashboard/img/parse-dashboard-stack-220x234.png" alt="logo" class="img-fluid"> </a>
    </div>

    <form class="ml-auto search-form d-none d-md-block">
      <div class="form-group">
        <input type="search" class="form-control" placeholder="Search Here">
      </div>
    </form>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/login-page" style="margin-right: 20px;">Logout</a>
      </li>


    </ul>

  </div>
</nav>
